.modal-overlay{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.8);

display:flex;

justify-content:center;

align-items:center;

z-index:999;

}

.modal-box{

width:420px;

background:#111;

border:2px solid #D4AF37;

border-radius:20px;

padding:30px;

position:relative;

text-align:center;

animation:popup .3s;

}

@keyframes popup{

from{

transform:scale(.8);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}

.modal-box img{

width:100%;

height:220px;

object-fit:cover;

border-radius:15px;

margin-bottom:20px;

}

.modal-box h2{

color:#D4AF37;

margin-bottom:10px;

}

.price{

font-size:28px;

color:#D4AF37;

font-weight:bold;

margin-bottom:15px;

}

.modal-box p{

color:white;

line-height:1.6;

}

.modal-box ul{

list-style:none;

padding:0;

margin-top:20px;

text-align:left;

}

.modal-box li{

color:white;

margin:10px 0;

}

.close-btn{

position:absolute;

top:15px;

right:15px;

background:#D4AF37;

border:none;

padding:8px 12px;

cursor:pointer;

border-radius:8px;

font-weight:bold;

}
