.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 70px;

background:#000;

position:fixed;

top:0;

left:0;

width:100%;

z-index:999;

border-bottom:2px solid #D4AF37;

box-sizing:border-box;

}

.logo{

font-size:30px;

font-weight:bold;

color:#D4AF37;

font-family:Georgia, serif;

letter-spacing:2px;

}

.nav-links{

display:flex;

gap:35px;

list-style:none;

}

.nav-links a{

text-decoration:none;

color:white;

font-size:18px;

transition:.3s;

font-family:Poppins;

}

.nav-links a:hover{

color:#D4AF37;

}
